::-webkit-scrollbar {
	width: 12px;
	height: 10px;
}
::-webkit-scrollbar-track {
	border: 1px solid var(--main);
	border-radius: 20px;
}
::-webkit-scrollbar-track {
	border: 1px solid var(--main);
	border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--hover);
}

::-webkit-scrollbar-thumb {
	background: var(--main);
	border-radius: 20px;
}
