:root {
	--main: rgba(11, 12, 12, 0.719);
	--hover: rgba(11, 12, 12, 0.319);
	--icon: rgba(11, 12, 12, 0.419);
	--green: rgba(55, 247, 55, 0.9);
	--yellow: rgba(226, 255, 95, 0.9);
	--red: rgba(240, 51, 51, 0.9);
	--blue: rgba(34, 91, 247, 0.9);
}
